* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.banner {
    width: 1000px;
    height: 377px;
    position: relative;
    border: 1px solid orange;
    margin: 10px auto;
    margin-left: 190px
}

.banner ul li {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.banner ol {
    position: absolute;
    width: 190px;
    height: 20px;
    left: 50%;
    margin-left: -90px;
    bottom: 20px;
}

.banner ol li {
    float: left;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background: opacity(0.5);
    border: 1px solid #ccc;
    margin: 0 5px;
    text-indent: -99999px;
    cursor: pointer;
}

.banner ol li.active {
    background: #fff;
}

.right,
.left {
    font-size: 100px;
    color: #fff;
    font-family: verdana;
    position: absolute;
    text-decoration: none;
    top: 180px;
    display: none;
}

.left {
    left: 20px;
}

.right {
    right: 20px;
}

.right:hover,
.left:hover {
    color: #f74b44;
}

.banner ul li.showpic {
    opacity: 1;
}